.row:not(:last-child) {
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}


/* 
    Limited browser support for vh, but percentage does not work with angular-google-maps
*/
.angular-google-map-container {
     height: 88vh;
}


/* GLOBAL */
html, body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}


/* NAVBAR */ 
.navbar {
    margin-top: 0%;
    margin-bottom: 0.5%;
    background-color: #1C7D9E;
}

.navbar-brand {
    color: white;    
}

/* FILTERS */
#num-of-constructions h4 {
    font-weight: bold;
}


.form1 {
    padding-bottom: 0%;
}

.form2 {
    
}

.form3 {
    
}

.form4 {
    
}

.form5 {
    
}

.form6 {
    
}

.form7 {
    
}

.form8 {
    
}