.row:not(:last-child) {
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}


/* 
    Limited browser support for vh, but percentage does not work with angular-google-maps
*/
.angular-google-map-container {
     height: 88vh;
}

