<div class="map">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" control="control" bounds = "map.bounds" options="map.options">

        <ui-gmap-window
            show="window.show"
            coords="window.model"
            options="window.options"
            closeClick="window.closeClick()"
            templateUrl="'static/templates/infowindow.html'"
            templateParameter="window">
        </ui-gmap-window>

        <ui-gmap-markers
            models="markers"
            coords="'self'"
            icon="'icon'"
            click="openWindow"
            fit="true">
        </ui-gmap-markers>

    </ui-gmap-google-map>
</div>
