<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Anleggstype</th>
            <th>Kommune</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="construction in constructions">
        <td>{{construction.id}}</td>
        <td><a ui-sref="home.construction({id: construction.id})">{{construction.anleggsnavn}}</a></td>
        <td>{{construction.anleggstype.type}}</td>
        <td>{{construction.kommune.name}}</td>
    </tr>
    </tbody>
</table>

<uib-pagination
    total-items="meta.total_count" ng-model="currentPage" max-size="5"
    class="pagination-sm" boundary-link-numbers="true"
    ng-change="fetchConstructions()" items-per-page="20">
</uib-pagination>
