<uib-pagination
    total-items="meta.total_count" ng-model="currentPage" max-size="5"
    class="pagination-sm pagination-top" boundary-link-numbers="true"
    ng-change="changePage()" items-per-page="20">
</uib-pagination>


<table class="table table-bordered table-hover result-table">
    <thead>
        <tr>
            <th>Info</th>
            <th>Navn</th>
            <th>Anleggstype</th>
            <th>Kommune</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="construction in constructions" class="table-row">
        <td><a ui-sref="home.construction({id: construction.id})">Mer info</td>
        <td>{{construction.anleggsnavn}}</a></td>
        <td>{{construction.anleggstype.type}}</td>
        <td>{{construction.kommune.name}}</td>
    </tr>
    </tbody>
</table>

<uib-pagination
    total-items="meta.total_count" ng-model="currentPage" max-size="5"
    class="pagination-sm pagination-bottom" boundary-link-numbers="true"
    ng-change="changePage()" items-per-page="20">
</uib-pagination>
