<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-combobox.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/bootstrap-combobox.js"></script>
    <title>Idrettsanlegg</title>
</head>

<div class="container-fluid">
    <nav class="navbar navbar-default" style="background-color: #1C7D9E; margin-top: 1%">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: white">Idrettsanlegg</a>
        </div>
    </nav>

    <div class="col-xs-4 filter">
        <div class="form-group">
            <label class="col-xs-2 control-label" for="type">Input</label>
            <div class="col-xs-8 selectContainer">
                <select class="combobox form-control" name="facility-type" id="type">
                    <option></option>
                    <option value="rallycross">RallyCross-Bane</option>
                    <option value="swimming_hall">Svømmehall</option>
                    <option value="pingpongtable">Pingpong-bord</option>
                    <option value="racingcircuit">Racingbane</option>
                </select>
            </div>
            <div class="col-xs-2">
                <a href="#" data-toggle="tooltip" data-placement="Right" disabled="true" title="Velg ønsket annleggstype for filtrering.">
                    <!--span class="glyphicon glyphicon-tag" aria-hidden="True"></span-->
                    <span class="label label-pill label-default">?</span>
                </a>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label" for="yearfrom">Year</label>
            <div class="col-xs-8 input-group">
                <input type="text" class="form-control" placeholder="Year" id="yearfrom" aria-label="Year From">
                <div class="input-group-btn">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xs-2">
                <a href="#" data-toggle="tooltip" data-placement="Right" disabled="true" title="Vis treff fra dette årstallet og utover.">
                    <span class="label label-pill label-default">?</span>
                </a>
            </div>
        </div>

        <!-- END FILTER -->
    </div>


    <div class="col-xs-8 map" style="background-color: #1C7D9E">

        </div>

    <!-- END CONTAINER -->
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $('.combobox').combobox();
});
</script>